@font-face {
  font-family: 'Futura';
  src: url('../fonts/Futura/FuturaBold.otf') format('opentype');
}

@font-face {
  font-family: 'FuturaMedium';
  src: url('../fonts/Futura/FuturaMedium.otf') format('opentype');
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat/Montserrat.ttf') format('truetype');
}

@font-face {
  font-family: 'MontserratMedium';
  src: url('../fonts/Montserrat/MontserratMedium.ttf') format('truetype');
}

@font-face {
  font-family: 'MontserratSemiBold';
  src: url('../fonts/Montserrat/MontserratSemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'MontserratBold';
  src: url('../fonts/Montserrat/MontserratBold.ttf') format('truetype');
}