//global styling
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body{
  position: relative;
}

body.disable-scroll{
  overflow: hidden;
}

p{
  margin-bottom: 16px;
}

p + p{
  margin-bottom: 16px;
  font-size: 16px;
}

h1{
  font-size: 40px;
}
h2{
  font-size: 32px;
}
h3{
  font-size: 28px;
}
h4{
  font-size: 24px;
}
h5{
  font-size: 20px;
}
h6{
  font-size: 16px;
}

//main container for all sections
.max808-container{
  position: relative;
  display: grid;
  grid-template-columns: repeat(12,1fr);
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.d-grid{
  display: grid;
  position: relative;
  width: 100%;
}

.m-top-40{
  margin-top: 40px;
}