.main-dashboard{
  display: grid;
  grid-template-columns: repeat(12,1fr);
  column-gap: 20px;

  .header-title{
    grid-column: set-columns(1,12);
    font-size: 20px;
    color: #666666;
    font-family: "Futura", sans-serif;
    text-transform: uppercase;
  }

  .main-loan-info{
    grid-column: set-columns(1,12);
    background-color: $white;
    box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.3);
    padding: 20px 30px 20px;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    border: solid 1px $gray;
    border-top: solid 3px $blue;

    .d-grid{
      grid-template-columns: repeat(12, 1fr);

      .loan-detail{
        display: flex;
        flex-direction: column;
        grid-column: span 12;

        @include mini-tablet{
          grid-column: span 6;
        }

        @include tablet{
          margin-bottom: 5px;
        }

        @include mini-desktop{
          grid-column: span 4;
        }
  
        .labels{
          color: #555555;
          font-size: 11px;
          margin-bottom: 5px;
          font-family: "FuturaMedium", sans-serif;
          text-transform: uppercase;
        }
    
        .values{
          color: $blue;
          font-family: "MontserratMedium", sans-serif;
          font-size: 18px;
          margin-top: auto;

          @include tablet{
            font-size: 19px;
          }
  
          @include mini-desktop{
            font-size: 20px;
          }
    
          span{
            font-size: 18px;
            margin-left: -2px;
          }
        }
      }

      .loan-status-message{
        grid-column: set-columns(1,12);
        padding: 15px 15px 10px;
        background: #119ef921;
        color: $blue;
        border: solid 1px $blue;
        margin-bottom: 30px;
        
        p{
          margin-bottom: 5px;
          line-height: 1.4;
        }
      }

      .loan-status-message.warning{
        background: #f9a91121;
        border: none;        
        p{
          color: #7d4524;
        }
      }

      .ln-status{
        .values{
          font-family: "Futura", sans-serif;
          text-transform: uppercase;
        }

        .values.declined{
          color: #ff3333;
        }

        .values.active{
          color: #57b768;
        }
      }
      
      .loans-table{
        grid-column: span 12;
        margin-bottom: 20px;
      }

      .loan-computation{
        grid-column: span 12;
        margin-bottom: 20px;
        background-color: #fffae7;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        column-gap: 10px;
        row-gap: 10px;
        padding: 20px;
        border: solid 1px #fff0b9;

        .title-value{
          grid-column: span 1;

          .title{
            font-size: 12px;
            font-family: "MontserratBold", sans-serif;
            color: $black-2;
            margin-bottom: 10px;
          }

          .value{
            color: $blue;
            margin-bottom: 10px;
          }
        }

        .title-value.loan-proceeds{
          background: #fff0b9;
          grid-column: span 3;
          padding: 10px 15px;

          .value{
            font-size: 24px;
            font-family: "MontserratBold", sans-serif;
          }
        }
      }

      .loan-computation.active{
        .title-value.loan-proceeds{
          padding: 10px 15px 0px 15px;

          .value{
            font-size: 18px;
            margin-bottom: 15px;
            margin-top: -3px;
          }
        }
      }
    }
  }

  .other-loan-info{
    grid-column: set-columns(7,6);
    background-color: $white;
    box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.3);
    padding: 30px 30px 20px;
  }

  .buttons{
    grid-column: span 12;
    display: flex;
    justify-content: flex-end;
    margin-top: 30px;

    button{
      padding: 10px 40px;
      cursor: pointer;
      border: none;
      text-transform: uppercase;
      font-family: "MontserratBold", sans-serif;
      font-size: 14px;
    }
  
    .confirm-btn{
      background: $blue;
      color: $white;
      margin-right: 5px;
  
      &:hover{
        background: #0c69a5;
      }
    }
  
    .cancel-btn{
      background: #ff6868;
      color: $white;
  
      &:hover{
        background: #df4c4c;
      }
    }
  }
}